.angular-google-map-container {
  height: 100vh; // Or whatever pixel value you require :)
}

input {
  width: 250px;
  height: 25px;
  font-size: 18px;
  margin: 20px 0px 0px 10px;
  z-index: 1000;

}

.actionBar {
  background-image:url('http://i.imgur.com/qBs3csP.png');
/*  color: blue;
*/background-repeat: repeat-x; ;
  height: 100px;

}

.container {
  position: relative;
}

#searchBar {
  z-index: 3000;
}

#actionBar {
  float: right;
  margin: 15px 30px 0px 0px;

}

#bannerContainer {
  margin: 0px 0px 0px 20px;

}
